html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ededed;
    width: 100%;
}

.form-cv {
    width: 50%;
}

.block {
    background: white;
    width: 100%;
    padding: 5%;
}